$spacer: 1rem !default;
$label-margin-bottom: .5rem !default;

$paragraph-margin-bottom: 1rem !default;
$headings-margin-bottom: ($spacer / 2) !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: .75rem !default;
$table-cell-padding-sm: .3rem !default;
